<app-default-login-layout
  title="Change Password"
  primaryBtnText="Change the password"
  secondaryBtnText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!changePasswordForm.valid"
>
  <form [formGroup]="changePasswordForm">

    <app-primary-input
      formControlName="token"
      inputName="token"
      type="text"
      label="Token"
    >

      <img src="/assets/img/email-icon.svg"/>
    </app-primary-input>

    <app-primary-input
      formControlName="newPassword"
      inputName="newPassword"
      type="password"
      label="New Password"
      placeholder="********"
    >

      <img src="/assets/img/password-icon.svg"/>
    </app-primary-input>

  </form>
</app-default-login-layout>
