
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

}

main section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section {
  gap: 8px;
  flex-grow: 1;
  background-color: #EEEEEE;
}

.form-section {
  flex-grow: 0.3;
  padding: 0 35px;
}

.form-section img {
  margin-bottom: 30px;
}

.form-section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 45px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.btn-wrapper .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-size: 14px;
  color:  #EEEEEE;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-wrapper .divider div {
  flex-grow: 1;
  height: 2px;
  background-color: #EEEEEE;
}

.btn-wrapper button {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: transparent;
  padding: 12px 24px;
  cursor: pointer;
}

.btn-wrapper button:disabled {
  opacity: 0.8;
}

.btn-wrapper .btn-primary {
  background-color: #0175FD;
  color: white;
  box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
}

.btn-wrapper .btn-secondary {
  border: 1px solid #0175FD;
  color: #0175FD;
}
