<app-default-login-layout
  title="Forgot Password"
  primaryBtnText="Change Password"
  secondaryBtnText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!emailForm.valid"
>
  <form [formGroup]="emailForm">

    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="johndoe@gmail.com"
    >

      <img src="/assets/img/email-icon.svg"/>
    </app-primary-input>

  </form>
</app-default-login-layout>
